{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'Ask/css/question_form.css' %}">
{% endblock %}

{% block content %}
    <div class="add mt-3">
        <div class="add-top">
            <span class="m">New questions</span>
        </div>
        <form class="add-form" action="#" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <label for="Title" class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    {% render_field form.title type="text" class+="form-control" required='True' %}
                </div>
            </div>
            <div class="form-group row">
                <label for="Text" class="col-sm-2 col-form-label">Text</label>
                <div class="col-sm-10">
                    {% render_field form.text type="textarea" rows='10' class+="form-control" required='True' %}
                </div>
            </div>
            <div class="form-group row">
                <label for="Tags" class="col-sm-2 col-form-label">Tags</label>
                <div class="col-sm-10">
                    {% render_field form.tags|add_error_class:"is-invalid" type="text" class+="form-control" required='True' %}
                    <div class="invalid-feedback">
                        {{ form.tags.errors }}
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-2"></div>
                <div class="col-sm-10">
                    <input type="submit" value="Ask it" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
{% endblock %}