{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block styles %}
    <link rel="stylesheet" href="{% static 'Ask/css/question_details.css' %}">
{% endblock %}

{% block content %}
    <div class="container mr-2 pr-3">
        <div class="row details-post pb-3 border-bottom">
            <div class="col-8 col-lg-2">
                <div class="mb-2 mb-lg-3"><img class="details-post-avatar" src={{question.author.avatar.url}}
                                               ></div>
                <div class="details-post-rate">
                    <span class="mr-1">{{ question.rate }}</span>
                    <i class="fa fa-plus mr-1" aria-hidden="true"></i>
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <h3>{{ question.title }}</h3>
                <div class="deatils-post-text">
                   {{ question.text }}
                </div>
                <div class="details-post-bottom mt-2">
                    <div class="details-post-bottom-tags">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                            <a class="tag" href="{% url "tag" tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        {% for answer in question.answer_set.all %}
        <div class="row details-post-comment">
            <div class="col-8 col-lg-2">
                <div class="mb-2 mb-lg-3"><img class="details-post-comment-avatar"
                                               src={{answer.author.avatar.url}}></div>
                <div class="details-post-rate">
                    <span class="mr-1">{{ answer.rate }}</span>
                    <i class="fa fa-plus mr-1" aria-hidden="true"></i>
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-12 col-lg-8">
                <div class="deatils-post-text d-md-block">
                    {{ answer.text }}
                </div>
                <div class="details-post-bottom mt-2">
                    <div class="details-post-bottom-tags">
                        <div class="form-group form-check">
                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                            <label class="form-check-label" for="exampleCheck1">Correct!</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <form class="detail-post-comment-form border-top" action="#" method="post">
            {% csrf_token %}
            <div class="form-group row">
                <div class="col-sm-12">
                    {% render_field form.text type="textarea" rows='5' class+="form-control" %}
                </div>
            </div>
            <div class="form-group row">
                <div class="col-sm-10">
                    <input type="submit" value="Answer" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>

{% endblock %}