{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'css/user_profile.css' %}">
{% endblock %}

{% block content %}
    <div class="settings-form">
        <div class="settings-form-top">
            <span>Registration</span>
        </div>
        <form class="add-form mt-4" action="#" method="post">
            <div class="form-group row">
                <label for="Title" class="col-sm-3 col-form-label">Login</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="Title">
                </div>
            </div>
            <div class="form-group row">
                <label for="Text" class="col-sm-3 col-form-label">Email</label>
                <div class="col-sm-5">
                    <input type="email" class="form-control" id="Text">
                </div>
            </div>
            <div class="form-group row">
                <label for="Tags" class="col-sm-3 col-form-label">NickName</label>
                <div class="col-sm-5">
                    <input type="text" class="form-control" id="Tags">
                </div>
            </div>
            <div class="form-group row">
                <label for="Tags" class="col-sm-3 col-form-label">Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="Tags">
                </div>
            </div>
            <div class="form-group row">
                <label for="Tags" class="col-sm-3 col-form-label">Repeat Password</label>
                <div class="col-sm-5">
                    <input type="password" class="form-control" id="Tags">
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-3" for="exampleFormControlFile1">Upload Avatar</label>
                <div class="col-sm-5">
                    <input type="file" class="form-control-file" id="exampleFormControlFile1">
                </div>

            </div>
            <div class="form-group row">
                <div class="col-sm-3"></div>
                <div class="col-sm-5">
                    <input type="submit" value="Register" class="btn btn-success">
                </div>
            </div>
        </form>
    </div>
{% endblock %}