{% extends 'base.html' %}
{% load static %}

{% block styles %}
    <link rel="stylesheet" href="{% static 'Ask/css/feed.css' %}">
{% endblock %}

{% block content %}
    <div class="feed-top">
        <span class="mr-2">Tag:</span>
        <span>{{ tag }}</span>
    </div>
    <div class="container ">
    {% for question in questions %}
        <div class="row post border">
            <div class="col-8 col-lg-2">
                <div class="mb-2 mb-lg-5"><img class="post-avatar" src={{question.author.avatar.url}} alt=""></div>
                <div class="post-rate">
                    <span class="mr-1">{{ question.rate }}</span>
                    <i class="fa fa-plus mr-1" aria-hidden="true"></i>
                    <i class="fa fa-minus" aria-hidden="true"></i>
                </div>
            </div>
            <div class="col-12 col-lg-10">
                <h3><a href="{% url "question" question.pk %}">{{ question.title }}</a></h3>
                <div class="post-short-description d-none d-md-block">
                    {{ question.text }}
                </div>
                <div class="post-bottom mt-2">
                    <a class="mr-5" href="#">answer({{ question.answer_set.count }})</a>
                    <div class="post-bottom-tags d-inline-block">
                        <span>Tags:</span>
                        {% for tag in question.tags.all %}
                            <a class="tag" href="{% url "tag" tag %}">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
    {% include "paginator.html" %}
{% endblock %}